.content {
    display: flex;
}

.principal-content {
    flex-grow: 3;
}

:root {
    --primary: #58a4b0;
    --secondary: #373f51;
    --secondary-active: #ccc;
    --background: #fff;
    --background-details: #ececec;
}